body {
    background-color: #574B60;
}

h1 {
    border: 1px solid red;
    font-family: 'IBM Plex Mono', monospace;
    margin-bottom: 10vh;
    font-size: 2.5vw;
 }

 .results {
    border: 1px solid red;
    height: 5vh;
    margin-bottom: 5vh;
 }

.main {


    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-box {
    display: flex;

}

textarea {
    font-family: 'IBM Plex Mono', monospace;
}

button {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin: 1vh;
    width: 10vw;
    height: 6vh;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #23262F;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    will-change: box-shadow,transform;
  }

  button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }